<div class="movie-management-container">
    <button kendoButton size="medium"
    rounded="large"
    fillMode="solid"
    themeColor="success" class="add-movie-button" (click)="onAddMovie()">
      افزودن فیلم جدید
    </button>
  
    <kendo-grid
      [kendoGridBinding]="movies"
      [pageSize]="10"
      [sortable]="true"
      [filterable]="true"
      [pageable]="true"
    >
      <kendo-grid-column field="imageUrl" title="تصویر" [width]=150>
        <ng-template kendoGridCellTemplate let-dataItem>
          <img [src]="dataItem.imageUrl" alt="{{ dataItem.title }}" class="movie-thumbnail" />
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="title" title="عنوان" [width]=200></kendo-grid-column>
      <kendo-grid-column field="genre" title="ژانر" [width]=150></kendo-grid-column>
      <kendo-grid-column field="director" title="کارگردان" [width]=200></kendo-grid-column>
      <kendo-grid-column title="عملیات" [width]=200>
        <ng-template kendoGridCellTemplate let-dataItem>
          <button kendoButton size="small"
          rounded="large"
          fillMode="solid"
          themeColor="info"
          (click)="onUpdateMovie(dataItem)">آپدیت</button>
          <button kendoButton size="small"
          rounded="large"
          fillMode="solid"
          themeColor="error" (click)="onDeleteMovie(dataItem)">حذف</button>
        </ng-template>
      </kendo-grid-column>
    </kendo-grid>
  </div>
  